/* for chrome */
button:focus, input:focus { outline: 0; }

body > .colors {
  position: sticky;
  height: 14px;
  width: 100%;
  top: 0px;
  z-index: 100;
  box-shadow: 2px 3px 17px #000;

  visibility: hidden;
}
.meta-results {
  width: 97vw;
  margin: 16px auto;
  color: #777;
  font-style: italic;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 97vw;
  margin: 8px auto;
}

.modal-bg,
.modal-fg {
  position: fixed;
  top: 0px; left: 0px; width: 100%; height: 100%;
}
.modal-bg {
  background-color: rgba(0,0,0, 0.7);
  z-index: 100;
}
.modal-fg {
  z-index: 110;
}
.modal-fg a.close {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 100%;
  font-family: sans-serif;
  text-align: center;
  height: 32px;
  width: 32px;
  display: block;
  line-height: 34px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.oops {
  font-weight: normal;
  font-size: 12pt;

  border-radius: 4pt;
  padding: 1em 2em;
  width: 90%;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
  background: firebrick;

  ul {
    padding: 1em;
    list-style: inside;

    li {
      line-height: 1.2em;

      a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px dotted #fff;
      }
      &.suppress {
        display: none;
      }
    }
  }
}


.prose {
  min-width: 50vw;
  max-width: 80vw;
  margin: 80px auto;
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 1.4em;

  h1 {
    font-size: 24pt;
    font-weight: bold;
    margin: 3em 0 0.6em 0;
  }
  h2 {
    font-size: 21pt;
    font-weight: bold;
    margin: 3em 0 0.6em 0;
  }

  a {
    text-decoration: none;
    color: #0071bc;
    border-bottom: 1px dotted #0071bc;
  }

  p {
    max-width: 40em;
    margin: 1.4em 0;
  }

  em, i { font-style: italic; }
  strong, b { font-weight: bold; }

  table {
    thead th {
      font-weight: bold;
      color: #112;
      border-bottom: 1px solid #11112233;
      font-size: 90%;
      padding: 8px 32px 2px 8px;
      text-align: left;
    }

    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #00000008;
        }
        &:hover {
          background-color: #00000018;
        }
      }

      td {
        padding: 8px 8px 4px 8px;

        a {
          color: #448;
          text-decoration: none;
          border-bottom: 1px dotted #888;
        }
        p {
          margin-top: 0;
        }
      }
    }
  }

  table.listing {
    min-width: 80%;
  }
}

.changelog {
  h2 {
    margin-top: 6em;

    img {
      display: block;
      margin-bottom: 8px;
      max-width: 100%;
      padding-bottom: 3px;
      border-bottom: 5px solid #000;
    }

    a {
      font-size: 11pt;
      color: #aaa;
      font-weight: normal;
      text-decoration: none;
      border-bottom: none;
    }

    span {
      display: block;
      color: #778;
      font-size: 12pt;
    }
  }

  ul {
    list-style: disc;
    margin-left: 3em;
  }
}



.docs {
  kbd, pre code {
  color: #fff;
  background-color: #555;
  border-radius: 5px;
  padding: 4px 8px;
  }
  kbd {
    height: 1.2em;
    vertical-align: middle;
  }
  pre code {
    padding: 1em;
    display: block;
    font-family: monospace;
  }


  table.keywords tbody tr td:nth-child(1),
  table.shorthand tbody tr td:nth-child(1),
  table.shorthand tbody tr td:nth-child(2) {
    font-family: monospace;
    color: darkblue;
  }
  table.keywords tbody tr td ul {
    list-style: circle;
    padding: 1em 1em 1em 2em;
  }
}

table th.sortable {
  cursor: pointer;
}
table th.sortable.asc ::before,
table th.sortable.desc ::before {
  margin-left: 4px;
  content: "\25b4";
  display: inline-block;
  opacity: 0.4;
  font-size: 11pt;
}
table th.sortable.asc ::before {
  transform: rotate(180deg);
}

.sets {
  table {
    &.sets {
      min-width: 80%;

      tbody tr td:nth-child(2) {
        font-size: 70%;
        color: #00000088;
      }
    }

    td:first-child {
      text-align: center;
    }
  }
}

button {
  display: block;
  margin: 4px 8px 4px 0;

  background-color: dodgerblue;
  color: #fff;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  bordeR: none;
  border-radius: 8px;
  padding: 4pt 12pt;
}
button:hover {
  color: yellow;
}
form button {
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 16pt;
  padding: 0.3em 0.9em;
  border: 2px solid dodgerblue;
  border-radius: 5px;
}
form button.safe {
  background-color: dodgerblue;
  color: #fff;
}
button.danger {
  background-color: firebrick;
  color: #fff;
}

/*

   ########  ########  ######  ########   #######  ##    ##  ######  #### ##     ## ########
   ##     ## ##       ##    ## ##     ## ##     ## ###   ## ##    ##  ##  ##     ## ##
   ##     ## ##       ##       ##     ## ##     ## ####  ## ##        ##  ##     ## ##
   ########  ######    ######  ########  ##     ## ## ## ##  ######   ##  ##     ## ######
   ##   ##   ##             ## ##        ##     ## ##  ####       ##  ##   ##   ##  ##
   ##    ##  ##       ##    ## ##        ##     ## ##   ### ##    ##  ##    ## ##   ##
   ##     ## ########  ######  ##         #######  ##    ##  ######  ####    ###    ########

 */

@media only screen and (max-width: 1030px) {
  .landing {
    margin: 1em;
  }
  .landing > div:nth-child(2) {
    padding: 1em;
  }
}

@media only screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }
  header h1 {
    height: 32px;
    width: 70px;
    margin: 16px 0 0 16px;
  }
  header input {
    margin: 12px;
  }
  header nav {
    display: none; /* FIXME: temporary */
  }

  .landing {
    flex-flow: column wrap;
    margin: 1em;
  }
  .landing.login {
    flex-direction: column-reverse;
  }
  .landing > div {
    width: 100%;
  }
  .landing div {
    padding: 0;
    margin: 1em 0 0 0;
  }

  .grid.results > span .card {
    width: 85vw;
    height: 118vw;
    margin: 5vw;
    border-radius: 3.9vw;
  }
  .grid.results > span .card.face {
    transform: rotate(0deg);
  }
  .grid.results > span .back {
    transform: rotate(-5deg);
  }

  .modal-fg .cardable {
    display: none;
  }
  .modal-fg div.detail {
    top:  5vh; height: 90vh;
    left: 5vw; width:  90vw;
    padding: 12px;
    overflow: auto;
  }
}
