#loading {
  h1 {
    font-size: 24pt;
    font-style: italic;
    text-align: left;
    width: 50vw;
    margin: 30vh auto 0em;
  }

  .marquee {
    line-height: 1.25em;
    text-indent: -1ex;
    font-size: 18pt;
    font-style: italic;
    width: 50vw;
    color: #777;
    margin: 10vh auto;

    cite {
      display: block;
      text-align: right;
    }
  }
}
