**
!/src
!/Cargo.toml
!/Cargo.lock
!/migrations
!/changelog.yml
!/ingest
!/ux/*.json
!/ux/*.js
!/ux/yarn.lock
!/ux/src
!/ux/public
!/ux/nginx.conf.template
/ux/public/cards.json
/ux/public/prices.json
